<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>206201421419-9qbjdo1n40lf60d37ppko4a9tgp972ln.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.206201421419-9qbjdo1n40lf60d37ppko4a9tgp972ln</string>
	<key>API_KEY</key>
	<string>AIzaSyAv1fb78U1SBl0QWmIGVInJ8FfvvP2OWT0</string>
	<key>GCM_SENDER_ID</key>
	<string>206201421419</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ionic5loginform</string>
	<key>PROJECT_ID</key>
	<string>ionic5login</string>
	<key>STORAGE_BUCKET</key>
	<string>ionic5login.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:206201421419:ios:04ec5f8be0227f1ebefb2e</string>
	<key>DATABASE_URL</key>
	<string>https://ionic5login.firebaseio.com</string>
</dict>
</plist>